body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: white;
	background: #F0F0F7;
	font-family: monospace;
	font-size: 14px;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#info {
	color: black;
}